.TTT-Container {
  width: 90%;
  margin: auto;
}

.TTT-Grid {
  padding: 0;
  margin: auto;
  display: grid;
  gap: 0.5rem;
  text-align: center;
}

.TTT-Grid li {
  list-style: none;
  border-radius: 1rem;
  background-color: #78bec5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s linear;
}

.TTT-Grid li.Player1 {
  background-color: #dc685a;
}
.TTT-Grid li.Player2 {
  background-color: #ecaf4f;
}

.Disabled > li {
  background-color: #3d4250;
}

.TTT-Grid li:not(.Player1):not(.Player2):hover {
  background-color: #3d4250;
  cursor: pointer;
}

.Disabled li:not(.Player1):not(.Player2):hover {
  cursor: default;
}

.TTT-Grid li::after {
  content: "";
  padding-bottom: 100%;
  display: inline-block;
}

@media (min-width: 900px) {
  .TTT-Grid {
    width: 40%;
  }
}
