.Treasure-Container {
  width: 90%;
  margin: auto;
}

.Treasure-Grid {
  padding: 0;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0.2rem;
  text-align: center;
}
.Treasure-Grid li {
  list-style: none;
  /* border: 1px solid red; */
  border-radius: 1rem;
  background-color: #78bec5;
  color: #fff;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Disabled > li {
  background-color: #3d4250;
}

.Treasure-Grid li.Guess {
  background-color: #ecaf4f;
}

.Treasure-Grid li.Guessed {
  background-color: #dc685a;
}

.Treasure-Grid li:not(.Guess):not(.Guessed):hover {
  background-color: #3d4250;
  cursor: pointer;
}
.Disabled li:not(.Guess):not(.Guessed):hover {
  cursor: not-allowed;
}

.Treasure-Grid li::after {
  content: "";
  padding-bottom: 100%;
  display: inline-block;
}

@media (min-width: 800px) {
  .Treasure-Grid {
    width: 50%;
  }
}
